/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body {
    background-color: rgb(0, 0, 0);
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: #ffffff;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    margin-left: auto;
    height: fit-content;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.header__title {
    display: flex;
    margin: auto;
    text-align: start;
    justify-content: center;
    align-items: center;

}

.header__title h1 {
    margin-left: 250px;
}

.profile {
    display: flex;
    width: fit-content;
}

.profile__info {
    margin-right: 10px;
    margin-left: 10px;
    text-align: left;
}

.profile__link-session {
    color: #1db954;
    text-decoration: underline;
    font-size: 15px;
}

.profile__link-session:hover {
    color: #ffffff;
}

.profile__image {
    width: 70px;
    height: 70px;
    margin-right: 5px;
}

.premium-main {
    display: block;
    position: relative;
    top: 50px;
}

.premium-cards-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 70vw;
    height: max-content;
    margin: 0 auto;
    gap: 20px;
}

.premium-card {
    background-color: rgb(59, 59, 59);
    color: rgb(228, 228, 228);
    border: 2px solid rgba(211, 211, 211, 0.959);
    border-radius: 5px;
    padding: 20px;
    min-width: 200px;
    width: 300px;
    height: 500px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    box-shadow: rgba(255, 255, 255, 0.274) 0px 0px 200px;
}

.premium-card__anual {
    background-color: rgb(235, 235, 235);
    color: rgb(36, 36, 36);
    border: 3px solid rgb(36, 36, 36);
}

.premium-card-heading-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 70px;
}

.premium-card-span {
    background-color: rgba(255, 187, 0, 0.377);
    padding: 4px;
    border-radius: 4px;
    color: rgb(102, 73, 0);
}

.premium-card-itemList {
    position: relative;
    top: -30px;
}

.premium-card-img-container {
    background-color: rgba(218, 190, 32, 0.623);
    padding: 5px;
    border-radius: 4px;
}

.premium-card-img-container__infinito {
    background-color: rgba(45, 138, 201, 0.623);
    padding: 5px;
    border-radius: 4px;
}

.premium-card-radio-button {
    width: 90%;
    height: 40px;
    margin: 0 auto;
    font-weight: 600;
    border: none;
    border-radius: 3px;
    transition: 0.2s;
    cursor: pointer;
    align-self: flex-end;
}

.premium-card-price {
    font-size: 1.5rem;
}

.premium-card-discount {
    padding: 4px;
    border-radius: 4px;
    color: rgb(48, 170, 88);
    font-size: large;
}

.premium-card-itemList__item {
    margin-top: 10px;
}



.premium-card-button-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 75vw;
    margin: 0 auto;
    margin-top: 30px;
    gap: 50px;
}

.premium-card-button {
    width: 200px;
    height: 40px;
    margin: 0 auto;
    font-weight: 600;
    border: none;
    border-radius: 3px;
    transition: 0.2s;
    cursor: pointer;
    align-self: flex-end;
}

.premium-card-button:hover {
    background-color: goldenrod;
    color: white;
}

.premium-card-button__cancelar:hover {
    background-color: rgb(134, 67, 67);
    color: white;
}

.premium-card-button__avanzar:hover {
    background-color: rgb(67, 134, 76);
    color: white;
}



.footer {
    width: 99%;
    margin-bottom: auto;
    margin-top: 30px;
    bottom: 0;
    position: fixed;
    margin: 10px;
    border: 2px solid #1DB954;
    border-radius: 3px;
    text-align: center;
    padding: 10px;
}

@media only screen and (max-width: 1535px) {
    .footer {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .premium-card-button-container {
        margin-bottom: 200px;
        gap: 20px;
    }

    .premium-card {
        padding: 10px;
        min-width: 200px;
        width: 300px;
        height: 450px;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        align-items: center;
        gap: 5px;
        box-shadow: rgba(255, 255, 255, 0.274) 0px 0px 200px;
    }

    .header__title h1 {
        margin: 0 auto;
    }

}

@media only screen and (min-width: 768px) {
    .premium-card-button-container {
        margin-bottom: 200px;
        gap: 20px;
    }
}